.empresaMain {
    background-color: #1e293b;
    .homeEmp {
        padding-top: 100px;
        width: 80%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column; 
        .texto {
            display: flex;
            margin-bottom: 10em;
            img {
                max-width: 600px;
                height: 400px;
            }
            P {
                font-size: 1.6em;
                font-weight: 300;
                text-align: justify;
                line-height: 2.5em;
                align-self: center;
                margin-bottom: 0;
                margin-right: 50px;
                &:last-child {
                    margin-top: 1em;
                }
            }
        }
    }
    .nuestrosPlanes {
        .contenedorCards {
            .cardProducto {
                width: 50px;
            }
            
        }
        
    }
    .buttonKitActivo.empresa {
        background: #A855F7;
        &:hover {
            background-color: #9333ea;
        }
    }
}

@media (max-width: 576px) {
    .empresaMain {
        .homeEmp {
            padding-top: 0;
            width: 90%;
            .texto {
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                P {
                    font-size: 1.3em;
                    text-align:left;
                    line-height: 1.5em;
                    align-self: center;
                    margin-right: 0px;
                    &:first-child {
                        margin-top: 1.5em;
                    }
                }
                img {
                    width: 300px;
                    height: 200px;
                }
            }
        }
    }
    
}