.empresaMain {
    background-color: #1e293b;
    background-image: none;
        .homeEmp {
        padding-top: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .texto {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10em;
            img {
                max-width: 45vw;
                height: 400px;
            }
            P {
                width: 45vw;
                font-size: 1.6em;
                font-weight: 300;
                text-align: justify;
                line-height: 2.5em;
                align-self: center;
                margin-bottom: 0;
                margin-right: 50px;
                &:last-child {
                    margin-top: 1em;
                }
            }
        }
    }
    .nuestrosPlanes {
        .contenedorCards {
            .cardProducto {
                width: 50px;
            }
            
        }
        
    }
    .buttonKitActivo.empresa {
        background: #A855F7;
        &:hover {
            background-color: #9333ea;
        }
    }
    .buttonKit.empresa {
        border: solid 2px #A855F7;
        &:hover {
            background-color: #A855F7;
        }
    }
}

@media (max-width: 992px) {
    .empresaMain {
        .homeEmp {
            .texto {
                P {
                    font-size: 1.4em;
                    text-align:left;
                    line-height: 2em;
                    align-self: center;
                    margin-right: 0px;
                }
                img {
                    margin: auto 0;
                    height: 250px;
                }
            }
        }
    }
    
}

@media (max-width: 576px) {
    .empresaMain {
        .homeEmp {
            padding-top: 0;
            .texto {
                flex-direction: column-reverse;
                flex-wrap: wrap;
                P {
                    width: 90vw;
                    font-size: 1.3em;
                    text-align:left;
                    line-height: 1.5em;
                    align-self: center;
                    margin-right: 0px;
                    &:first-child {
                        margin-top: 1.5em;
                    }
                }
                img {
                    max-width: 90vw;
                    height: 200px;
                    margin: 0 auto;
                }
            }
        }
    }
    
}