/* NOSOTROS */

main {
  .nos {
    background-color: #1e293b;
    padding-top: 20px;
    .grid {
      width: 70%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "pp pp pp pp"
        "ceo ceo cto cto";
      p {
        grid-area: pp;
        font-size: 20px;
        justify-self: center;
        width: 80%;
        text-align: justify;
      }
      .ceo {
        grid-area: ceo;
      }
      .cto {
        grid-area: cto;
      }
      .cardNos {
        width: 400px;
        border-radius: 20px;
        padding: 20px 0;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        img {
          width: 300px;
          height: 300px;
          border-radius: 200px;
          filter: grayscale(80%);
        }
        p {
          text-align: center;
          font-weight: 275;
        }
        .redes {
          display: flex;
          gap: 15px;
          i {
            font-size: 25px;
          }
        }
      }
      .num {
        grid-area: num;
        display: flex;
        gap: 50px;
        justify-content: space-evenly;
        align-items: center;
        div {
          span {
            font-size: 40px;
            font-weight: 275;
            margin: 0 auto;
          }
        }
      }
    }
    /* TESTIMONIOS */
    .testi {
      width: 70%;
      margin: 0 auto;
      background-color: #1e293b;
      .points {
        display: flex;
        justify-content: center;
        gap: 20px;
      }
      .opB,
      .opC,
      .opD {
        display: none;
        .cara {
          border-radius: 200px;
          width: 250px;
          height: 250px;
        }
        .cor {
          position: absolute;
          top: 0;
          left: -70px;
        }
      }
      .show {
        display: flex;
        animation-name: slide;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
      }
      @keyframes slide {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 100%;
        }
      }
      .cardB {
        width: 90%;
        height: 400px;
        margin: 0 auto;
        position: relative;
        .cardBTest {
          align-self: center;
        }
        h5 {
          text-align: center;
        }
      }
      .cardBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
        font-weight: 400;
        p {
          font-size: 25px;
        }
        .stars {
          i {
            margin-bottom: 30px;
            font-size: 25px;
            color: #a855f7;
          }
        }
      }
    }
  }
}

/* MEDIA QUERIES */

@media (max-width: 992px) {
  main {
    .nos {
      margin: 0 auto;
      .grid {
        width: 100%;
        .cardNos {
          width: 250px;
        }
      }
      .testi {
        width: 90%;
        .cardB {
          width: 90%;
          .cardBody {
            margin-left: 50px;
            p {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  main {
    .serv {
      background-color: #0f172a;
    }
    .nos {
      background-color: #0f172a;
      .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
          "pp pp pp"
          "num num num"
          "ceo ceo ceo"
          "cto cto cto";
        h4 {
          display: none;
        }
        p {
          font-size: 20px;
          width: 95%;
          text-align: justify;
        }
        .num {
          justify-content: space-evenly;
          gap: 7px;
          div {
            span {
              font-size: 30px;
              font-weight: bold;
            }
            p {
              font-size: 18px;
            }
          }
        }
        .cardNos {
          justify-self: center;
          width: 380px;
          background-color: #131d35;
          img {
            width: 250px;
            height: 250px;
          }
        }
      }
      /* TESTIMONIOS */
      .testi {
        background-color: #0f172a;
        @keyframes slide {
          0% {
            opacity: 100%;
          }
          100% {
            opacity: 100%;
          }
        }
        .points {
          display: none;
        }
        #opB,
        #opC,
        #opD {
          display: flex;
          padding: 10px;
          border-radius: 20px;
          .cor {
            display: none;
          }
          .cara {
            width: 70px;
            height: 70px;
          }
        }
        .cardB {
          height: auto;
          margin-top: 20px;
          background-color: #1e293b;
          .cardBTest {
            align-self: center;
            h5 {
              font-size: 18px;
            }
            img {
              width: 70px;
              height: 70px;
            }
          }
          .cardBody {
            margin-left: 10px;
            p {
              font-size: 18px;
            }
            .stars {
              i {
                margin-bottom: 10px;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
    .contacto {
      background-color: #0f172a;
    }
  }
}

@media (max-width: 425px) {
  main {
    .nos {
      .grid {
        .cardNos {
          width: 90%;
        }
      }
    }
  }
}
